# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  run-emulator:
    runs-on: macos-12
  
    steps: 
          
      - name: Download image
        run: |
          set -x
          echo "y" | $ANDROID_HOME/tools/bin/sdkmanager --install 'system-images;android-29;default;x86_64'

      - name: Apply licenses
        run: |
          set -x
          echo "y" | $ANDROID_HOME/tools/bin/sdkmanager --licenses
          
      - name: Create Android emulator
        run: |
          echo "no" | $ANDROID_HOME/tools/bin/avdmanager create avd -n Pixel_API_29_AOSP -d pixel --package 'system-images;android-29;default;x86_64' --force
          $ANDROID_HOME/emulator/emulator -list-avds
          
      - name: Start Android emulator
        run: |
          echo "Starting emulator and waiting for boot to complete...."
          ls -la $ANDROID_HOME/emulator
          #nohup $ANDROID_HOME/emulator/emulator -avd Pixel_API_29_AOSP -no-snapshot -no-window -no-audio -no-boot-anim -camera-back none -camera-front none -qemu -m 2048 2>&1 &
          #nohup $ANDROID_HOME/tools/emulator -avd Pixel_API_29_AOSP -gpu guest -no-audio -no-boot-anim -camera-back none -camera-front none -qemu -m 2048 2>&1 &
          nohup $ANDROID_HOME/tools/emulator -avd Pixel_API_29_AOSP -m 3072 2>&1 &
          $ANDROID_HOME/platform-tools/adb wait-for-device shell 'while [[ -z $(getprop sys.boot_completed | tr -d '\r') ]]; do echo "wait..."; sleep 1; done; input keyevent 82'
          echo "Emulator has finished booting"
          $ANDROID_HOME/platform-tools/adb devices
          screencapture screenshot.jpg
          $ANDROID_HOME/platform-tools/adb exec-out screencap -p > emulator.png
          #osascript click.as
          
      - uses: actions/upload-artifact@v3
        with:
          name: screenshot.jpg
          path: screenshot.jpg
          
      - uses: actions/upload-artifact@v3
        with:
          name: emulator.png
          path: emulator.png
        
    
